<div class= "rest"><p><%=@restaurant.name%></p></div>

<h2>Burgers</h2>
<ul>


<% for burger in @restaurant.find_burgers() %>
  <li>
<p><%=burger.name%></p>
  </li>
<%end%>


</ul>
<br>
<h2>Deals</h2>
<% for deal in @restaurant_deals %>
  <p><a href= "/deal/<%=deal.id%>"><%=deal.name%>(<%=deal.day%>)</a></p>
<%end%>
<br>
<br>


<p class="btn--wrapper">
<a class="btn btn--action" href="/restaurants/burgers/new">Add new burger to restaurant</a>

<p class="btn--wrapper">
<a class="btn btn--action" href="/burger-deals">Add burger to a deal</a>

<p class="btn--wrapper">
<a class="btn btn--action" href="/">Home</a>
